@import "tailwindcss";
body {
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: #e2e8f0;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Section spacing */
section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}